div,p,tr,td,a {font-size:9pt;text-decoration:none;}
    input,textarea,select {background-color: #FFEEEE; color: #0033CC; border: 1 solid #33CCFF;}
    input.button {background-color: #33CCFF; color: #FCFCFC; border: 3 double;}
    input.noborder {background-color: #FCFCFC; color: #33CCFF; border: 0;}
    
    A:link {color:#FF0000; text-decoration:none;}
    A:visited {color:#6666FF; text-decoration:none;}
    A:active {text-decoration:none; color:#0066FF;}
    A:hover {color:#FF6633;}
    hr {color:#33CCFF;}

/*
     FILE ARCHIVED ON 08:33:04 Nov 27, 2003 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:05:01 Mar 26, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.951
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.05
  esindex: 0.015
  cdx.remote: 12.285
  LoadShardBlock: 44.889 (3)
  PetaboxLoader3.datanode: 52.308 (4)
  load_resource: 80.301
  PetaboxLoader3.resolve: 62.801
*/